<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
    <title>LLAMA3-CHAT</title>
</head>
<body>
    <div id="chatbot-root"></div>
    <script src="{{ asset('assets/app.js') }}"></script>
</body>
</html>
